#sidebar{
  display: block;
  background-color: #F5F5F5 !important;
  float: left;
  width : 14em;
  height : 72em;
  padding: 10px 20px 0px 30px;
  -webkit-print-color-adjust: exact !important;
  position: fixed;
  top: 0;
  left: 0;
}

#side-list{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-stretch: expanded;
  line-height: 1.5;
  list-style-position: inside;
  padding-left: 0;
  font-size: .6em;
  list-style: none;
}

#side-list-style{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-stretch: expanded;
  line-height: 1.5;
  list-style-position: inside;
  padding-left: 0;
  font-size: .6em;
  list-style-type: square;
}

#side-list-italics{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-stretch: expanded;
  line-height: 1.5;
  font-size: inherit;
  color: #585858;
  font-style: italic;
}

#side-header{
  text-align: left;
  font-size: .95em;
  font-weight: 500;
  font-stretch: expanded;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 1em 0em;
}

#title{
  text-align: left;
  font-size: 2em;
  font-weight: 500;
  font-stretch: expanded;
  font-family: 'Source Sans Pro', sans-serif;
}

#main{
  left: 14em;
  width : auto;
  height : 65em;
  padding-left: 255px;
}

#main-header{
  text-align: left;
  font-size: 1em;
  font-weight: 500;
  font-stretch: expanded;
  font-family: 'Source Sans Pro', sans-serif;
  list-style-position: inside;
  padding-left: 0;
}

#sub-main-header{
  text-align: left;
  font-size: .8em;
  font-weight: 500;
  font-stretch: expanded;
  font-family: 'Source Sans Pro', sans-serif;
  list-style: none;
  padding-left: 0;
  list-style-position: inside;
}

#sub-main-header-location{
  font-size: .8em;
  font-weight: 500;
  font-stretch: expanded;
  font-family: 'Source Sans Pro', sans-serif;
  list-style: none;
  padding-left: 0;
  list-style-position: inside;
  color: #808080;
  font-style: italic;
}

#info{
  display: inline-block;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-stretch: expanded;
  line-height: 1.5;
  font-size: .6em;
}

.info-list{
  margin: .5em 0;
}
.info-list-side{
  margin: .2em 0;
}

#date{
  display: inline-block;
  float: right;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-stretch: expanded;
  line-height: 1.5;
  font-size: .6em;
}

#place{
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-stretch: expanded;
  line-height: 1.5;
  font-size: .6em;
  float: left
}

#block{
  display: inline-block;
  float: left;
  width : 35em;
}


.sideblock{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-stretch: expanded;
  line-height: 1.5;
  font-size: 1em;
  text-align: center;
  padding: 20px 0px 15px 30px;
}

.mainblock{
  clear: both;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-stretch: expanded;
  line-height: 1.5;
  font-size: 1em;
}

div{
  padding: 5px 0px 5px 0px;
  display: inline-block;
    }
