@import "../node_modules/bootstrap/dist/css/bootstrap.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 1.2rem;
  font-weight: 450;
}

a:link {
  color: #68a6d9;
}

a:visited {
  color: #665d4e;
}

a:hover {
  color: #336E83;
  text-decoration: none;
}

.top {
  margin-top: 3rem;
}

.bottom {
  margin-bottom: 3rem;
}

.profile {
  max-width: 20rem;
  display: block;
  margin: auto auto 2.5rem auto;
}

.align {
  align-items: center;
}

.justify {
  justify-content: center;
}

.full {
  min-height: 80vh;
}

.babycontainer{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.ra{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.dra{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}
